:root {
  --primary-color: #f4eae4;
  --secondary-color: #e2b09d;
  --highlight-color: #04004d;
  --font-color: #ca3a13;
  --box-color: #cff6f3;

  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 42px;
  color: var(--font-color);
  font-weight: 600;
  line-height: 150%;
  font-family: "DM Serif Display", serif;
}

h1 span {
  background-color: var(--secondary-color);
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  right: 100px;
  white-space: nowrap;
}
h2 {
  font-family: "DM Serif Display", serif;
  font-size: 36px;
  font-weight: 600;
}

p {
  font-family: "Mukta", sans-serif;
}

.intro-box {
  margin-top: 100px;
  max-width: 1000px;
}

.intro-header {
  background-color: var(--primary-color);
}
.no-padding {
  padding: 0;
}

.bar {
  background-color: var(--font-color);
  height: 24px;
}

.about-box {
  margin-top: 80px;
  max-width: 800px;
}

p span {
  background-color: var(--font-color);
  color: #fff;
  padding-left: 7px;
  padding-right: 7px;
  line-height: 120%;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
