:root {
  --primary-color: #f4eae4;
  --secondary-color: #e2b09d;
  --highlight-color: #04004d;
  --font-color: #ca3a13;
  --box-color: #cff6f3;
  --paragraph-color: rgb(87, 87, 87);
  --heading-font: "DM Serif Display", serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 40px;
  color: var(--font-color);
  font-weight: 600;
  line-height: 150%;
  font-family: var(--heading-font);
}

h1 span {
  background-color: var(--secondary-color);
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  right: 100px;
  white-space: nowrap;
}

h2 {
  font-family: var(--heading-font);
  color: var(--font-color);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}

p {
  font-family: "Noto Sans", sans-serif;
  color: var(--paragraph-color);
  font-size: 14px;
}

.header-button a {
  background-color: var(--font-color);
  color: white;
  padding: 5px 10px;
  border-radius: 100%;
}

.header-button a:hover {
  background-color: white;
  color: var(--font-color);
  padding: 6px 10px;
  border-radius: 100%;
}
.no-padding {
  padding: 0;
}

.container {
  margin-top: 100px;
  max-width: 1000px;
}

.header {
  background-color: var(--primary-color);
}

.header-bar {
  background-color: var(--font-color);
  height: 24px;
}

.header-paragraph {
  font-family: "Noto Sans", sans-serif;
  color: var(--paragraph-color);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.header-button {
  text-align: center;
  position: relative;
  top: 38px;
}
.about-box {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 800px;
}

p span {
  background-color: var(--secondary-color);
  font-size: 12px;
  color: #fff;
  padding: 6px 8px;
  text-transform: uppercase;
}

.contact-link {
  background-color: var(--font-color);
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border: solid 1px;
  border-color: var(--font-color);

  text-transform: uppercase;
  text-decoration: none;
}

.contact-link:hover {
  background-color: white;
  color: var(--font-color);
  padding: 6px 10px;
  border: solid 1px;
  border-color: var(--font-color);
}

@media (max-width: 768px) {
  h1 span {
    display: none;
  }
  .responsive span {
    display: none;
  }
}

@media (min-width: 768px) {
  .responsive span {
    display: none;
  }
}
